---
layout: default
title: About
header: about
group: navigation
tags : [bio, about me, ben howell, benhowell, programmer, engineer, developer]
description: "Bio. A website about the software business featuring rants, guides, articles, and other things by Ben Howell"
---
{% include JB/setup %}
<div class="page-header">
<h1><strong>About me</strong></h1>
</div>
<div class="row-fluid post-full">
  <div class="span12">
    <div class="content">
      <div class="intro">
	<div class="intro-txt">
	  <p>
	  I'm a software engineer from Hobart, Tasmania and when not working, I spend time mountain biking, bush walking, gardening, travelling and tinkering in my workshop.
	  </p>
	  <p>
	    I began my programming adventures in the mid 1980's with BASIC on the Commodore64 and BBC Micro (mostly writing and extending text based adventure games). Since then, I have worked in many domains across a variety of platforms with numerous programming languages.
	  </p>
	  <p>
	    I have held a variety of positions over the years, including system/network administrator, software developer, independent contractor, systems analyst, and research team leader.
	  </p>
	  <p>
	    My current position is Senior Engineer at the CSIRO Autonomous Systems Laboratory. This website, its content and opinions are entirely my own and do not reflect the opinions of my employer.
	  </p>
	</div>
	<div class="intro-img-border">
	<div class="intro-img-bevel">
	<div class="intro-img">
	<img alt="A nice picture of Ben Howell wearing a red electroencephalography cap with lots of sensors attached" src="{{ASSET_PATH}}/bootstrap/img/head_shot_250.jpg"/>
	</div>
	</div>
	</div>
      </div>
      <p>
	Recently I've been working in the following areas:
	<ul>
	  <li>Electroencephalography and neuromotor rehabilitation.</li>
	  <li>Eye-tracking.</li>
	  <li>Robotics and autonomous vehicles.</li>
	  <li>Computer vision (object recognition and tracking).</li>
	  <li>Embedded systems.</li>
	  <li>Sensor informatics and message-oriented middleware.</li>
	</ul>
      </p>
      <br/>
      <p>
	Recent grants and awards:
	<ul>
	<li>2016 - Royal Hobart Hospital Research Foundation Establishment Grant - <i>"Assistive technology for motor rehabilitation"</i></li>
	<li>2012 - Australian ICT Centre Award for Engineering and Science Support Excellence</li>
	<li>2012 - Tasmanian Research and Development iAward - <i>"Magic Map"</i></li>
	<li>2011 - Tasmanian Research and Development iAward - <i>"Tasmanian Marine Analysis Network"</i></li>
	</ul>
      </p>
      <br/>
      <p>
	I'm always interested in new opportunities so don't hesitate to contact me.
	<ul>
	  <li><a href="https://twitter.com/bjhowell" target="_blank">Twitter</a></li>
	  <li><a href="http://plus.google.com/+BenHowellX" target="_blank">Google+</a></li>
	</ul>
      </p>
      <br/>
      <p>
	You can find out more about me here: 
	<ul>
	  <li><a href="http://scholar.google.com.au/citations?user=zZpz458AAAAJ&hl=en" target="_blank">Google Scholar</a></li>
	  <li><a href="https://github.com/benhowell" target="_blank">GitHub</a></li>
	</ul>
      </p>
      <br/>
    </div>
  </div>
</div>









